html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    direction: rtl !important;

}
.rounded{
    border-radius: 50% !important;
    
}
.w-80{
    width: 80% !important;
}
.card-cus{
   
    position: relative;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
  border: none;
   
    width: 85%;
}
.card-body {
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0;
}
.card-text:last-child {
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
    color: currentColor;
}
.nav-link-cus{
    float: right;
}
.navbar-primery{
    background-color:#007bff;
    border-radius: 1rem;
}
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border:none
}
.text-center{
    text-align: center;


}
.badge-cus {
    font-size: 13px;
    background-color: darkgreen;
    float: left;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
   
    border: none;
    color: rgb(255, 255, 255);
    margin: 10px;
    
    
}
.btn-footer{

    color: white;
    background-color: #007bff;
    font-size: 26px;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    float: right;
}
.widgets {
    background-color: rgba(245, 222, 179, 0.5);
    padding: 5px;
    margin: 16px;
    border: solid aliceblue;
    border-radius: 3rem;
    display: flex;
    text-align: center;
}

.footer{
  display: block;
}
input{
    border-radius: 1rem;
    margin: 10px;
   
}
.form-control {
    background-color: #fffcf5;
   
    
    color: black;
    font-size: 14px;
    -moz-transition: background-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;
    padding: 7px 18px;
    height: 40px;
   border-radius: 1rem !important;
    
}
.input-group-text {
    display: -webkit-flex;
    display: -moz-box;
    display: contents;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
}

#success_message{ display: none;}
img {
    vertical-align: middle;
    border-style: none;
    width: 30%;

}
.mx-auto{
    margin-left: auto !important;
    margin-right: auto !important;
   
}
/* input group */
.input-group {
    position: relative;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    align-items: flex-end;
    width: 100%;
}